/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Custom CSS */

:root {
  font-family: "Figtree", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  line-height: 1.2;
}

.p,
.small-print {
  font-weight: 400;
  line-height: 1.728;
}

.h1 {
  font-size: 2.986rem;
}
.h2 {
  font-size: 2.488rem;
}
.h3 {
  font-size: 2.074rem;
}
.h4 {
  font-size: 1.728rem;
}
.h5 {
  font-size: 1.44rem;
}
.h6 {
  font-size: 1.2rem;
}
.p {
  font-size: 1rem;
}
.small-print {
  font-size: 0.833rem;
}
